//////////////////////////////////////////////
// ALL GLOBAL COLORS SHOULD BE DEFINED HERE
//////////////////////////////////////////////


////////////////////////////////////////////// THEME

$primary-color: #324C57; // theme primary color, change this value to customize theme
$primary-color-light: #7e949e;
$primary-color-lighter: #F2F4F5;
$primary-color-disabled: #768c94;

$secondary-color: #324C57;

$wko-red: #E62329;

////////////////////////////////////////////// TEXT
$text-light: #ABABAB;

$danger: #DC4C64FF;

$success: #0da451;

$error: #dc4c64
