/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/primeicons/primeicons.css";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(212, 217, 219, 0.29);
  //background: light-dark(var(--p-surface-75), var(--p-surface-900));
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}


.p-overlay-mask {
  backdrop-filter: blur(4px) !important; /* Adjust the pixel value for desired blur amount */
}
