<div style="display: flex; flex-direction: column; min-height: 100vh">

  <h4>Practice</h4>

  <button (click)="chordPlayedService.chordEventHandler(EChordStatus.Correct)">Correct</button>
  <button (click)="chordPlayedService.chordEventHandler(EChordStatus.Wrong)">Wrong</button>
  <button (click)="chordPlayedService.chordEventHandler(EChordStatus.Timeout)">Timeout</button>
  <button (click)="chordPlayedService.timerStart()">Start Timer</button>
  <button (click)="chordPlayedService.timerStop()">Stop Timer</button>

  <div class="card" style="flex-grow: 1; display: flex; flex-direction: column">

    <div style="display: flex; flex-direction: row">
      <div style="flex-grow: 1">
        <h3 style="margin: 0">Play along</h3>
      </div>

      <div style="display: flex; flex-direction: row; align-items: center">
        <div style="margin-bottom: -4px">
          <p-toggleswitch [(ngModel)]="showChord"/>
        </div>
        <div (click)="showChord = !showChord" style="margin-left: 4px; margin-right: 32px; cursor: pointer">Show chord
        </div>
        <p-button (click)="showSettings = true" label="Settings"></p-button>
      </div>
    </div>

    <div style="display: flex; flex-direction: row; flex-grow: 1">

      <div style="width: 60%; display: flex; flex-direction: column; justify-content: center; flex-grow: 1">
        <h1 style="text-align: center; margin-bottom: 32px; margin-top: 0;">{{chordPlayedService.currentChordToBePlayed}}</h1>
        <app-timer></app-timer>

      </div>

      <div style="width: 40%; display: flex; justify-content: center; flex-grow: 1; align-items: center">
        <app-chord-schematic (currentChordChange)="showChord = !showChord" [showChord]="showChord"
                             [currentChord]="chordPlayedService.currentChordToBePlayed"></app-chord-schematic>
      </div>
    </div>
  </div>

  <div style="display: flex; flex-direction: row">
    <div class="card">
      <div style="flex-grow: 1; display: flex; flex-direction: column; height: 100%">
        <h4 style="margin: 0;">Last 5 chords</h4>
        <div style="flex-grow: 1; justify-content: center; align-items: center; display: flex">
          <app-last-five-chords style="display: flex"></app-last-five-chords>
        </div>
      </div>
    </div>

    <div class="card">
      <div style="flex-grow: 1; display: flex; flex-direction: column; height: 100%">
        <h4 style="margin: 0;">Accuracy</h4>
        <div style="flex-grow: 1; justify-content: center; align-items: center; display: flex">
          <app-accuracy></app-accuracy>
        </div>
      </div>
    </div>

    <div class="card">
      <div style="flex-grow: 1; display: flex; flex-direction: column; height: 100%">
        <h4 style="margin: 0;">Avg. response time</h4>
        <div style="flex-grow: 1; justify-content: center; align-items: center; display: flex">
          <app-response-time></app-response-time>
        </div>
      </div>
    </div>
  </div>

</div>

<p-dialog [modal]="true" [(visible)]="this.chordPlayedService.showCorrectChordModal" [style]="{ width: '25rem' }">
  <ng-template #headless>
    <app-correct-chord></app-correct-chord>
  </ng-template>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="this.chordPlayedService.showWrongChordModal" [style]="{ width: '25rem' }">
  <ng-template #headless>
    <app-wrong-chord></app-wrong-chord>
  </ng-template>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="this.chordPlayedService.showTimeoutModal" [style]="{ width: '25rem' }">
  <ng-template #headless>
    <app-timeout></app-timeout>
  </ng-template>
</p-dialog>

<p-dialog header="Settings" [modal]="true" [(visible)]="showSettings" [style]="{ width: '25rem' }">

  <h3>Note</h3>
  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeA"/>
    <div (click)="chordPlayedService.chordGenerationIncludeA = !chordPlayedService.chordGenerationIncludeA" style="margin-left: 4px; cursor: pointer">Play A</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeB"/>
    <div (click)="chordPlayedService.chordGenerationIncludeB = !chordPlayedService.chordGenerationIncludeB" style="margin-left: 4px; cursor: pointer">Play B</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeC"/>
    <div (click)="chordPlayedService.chordGenerationIncludeC = !chordPlayedService.chordGenerationIncludeC" style="margin-left: 4px; cursor: pointer">Play C</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeD"/>
    <div (click)="chordPlayedService.chordGenerationIncludeD = !chordPlayedService.chordGenerationIncludeD" style="margin-left: 4px; cursor: pointer">Play D</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeE"/>
    <div (click)="chordPlayedService.chordGenerationIncludeE = !chordPlayedService.chordGenerationIncludeE" style="margin-left: 4px; cursor: pointer">Play E</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeF"/>
    <div (click)="chordPlayedService.chordGenerationIncludeF = !chordPlayedService.chordGenerationIncludeF" style="margin-left: 4px; cursor: pointer">Play F</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeG"/>
    <div (click)="chordPlayedService.chordGenerationIncludeG = !chordPlayedService.chordGenerationIncludeG" style="margin-left: 4px; cursor: pointer">Play G</div>
  </div>

  <h3>Chord Types</h3>
  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeStandard"/>
    <div (click)="chordPlayedService.chordGenerationIncludeStandard = !chordPlayedService.chordGenerationIncludeStandard" style="margin-left: 4px; cursor: pointer">Play standard</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeMaj"/>
    <div (click)="chordPlayedService.chordGenerationIncludeMaj = !chordPlayedService.chordGenerationIncludeMaj" style="margin-left: 4px; cursor: pointer">Play maj</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeMin"/>
    <div (click)="chordPlayedService.chordGenerationIncludeMin = !chordPlayedService.chordGenerationIncludeMin" style="margin-left: 4px; cursor: pointer">Play min</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationInclude7"/>
    <div (click)="chordPlayedService.chordGenerationInclude7 = !chordPlayedService.chordGenerationInclude7" style="margin-left: 4px; cursor: pointer">Play 7</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeMaj7"/>
    <div (click)="chordPlayedService.chordGenerationIncludeMaj7 = !chordPlayedService.chordGenerationIncludeMaj7" style="margin-left: 4px; cursor: pointer">Play maj7</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeMin7"/>
    <div (click)="chordPlayedService.chordGenerationIncludeMin7 = !chordPlayedService.chordGenerationIncludeMin7" style="margin-left: 4px; cursor: pointer">Play min7</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeSus4"/>
    <div (click)="chordPlayedService.chordGenerationIncludeSus4 = !chordPlayedService.chordGenerationIncludeSus4" style="margin-left: 4px; cursor: pointer">Play sus4</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeDim"/>
    <div (click)="chordPlayedService.chordGenerationIncludeDim = !chordPlayedService.chordGenerationIncludeDim" style="margin-left: 4px; cursor: pointer">Play dim</div>
  </div>

  <div style="display: flex; flex-direction: row">
    <p-toggleswitch [(ngModel)]="chordPlayedService.chordGenerationIncludeAug"/>
    <div (click)="chordPlayedService.chordGenerationIncludeAug = !chordPlayedService.chordGenerationIncludeAug" style="margin-left: 4px; cursor: pointer">Play aug</div>
  </div>

</p-dialog>
