<div class="mobile-nav">
  <a routerLink="home">
    <div class="mobile-nav-item" routerLinkActive="active">
      <i class="pi pi-home"></i>
      <p class="mobile-nav-label">Home</p>
    </div>
  </a>

  <a routerLink="practice">
    <div class="mobile-nav-item" routerLinkActive="active">
      <i class="pi pi-graduation-cap"></i>
      <p class="mobile-nav-label">Practice</p>
    </div>
  </a>

  <a routerLink="settings">
    <div class="mobile-nav-item" routerLinkActive="active">
      <i class="pi pi-cog"></i>
      <p class="mobile-nav-label">Settings</p>
    </div>
  </a>
</div>
